<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
</head>

<body id="game">

    <section ng-app="leCoon" ng-controller="mainController" ng-cloak>
        <div class="{{color}}">{{counter}} ({{minutes}}:{{secondes}})</div>

        <ul>
            <li ng-repeat="object in objects track by $index">
                <p>{{object.nomObjet}}</p>
                <button ng-click="takePicture($index)">Prendre une photo</button>
            </li>
            <div>
                <img id="preview">
                <button id="delete"  ng-click="deleteImg($event)" >Supprimer</button>
                <button id="send" ng-click="sendImg($event)">Valider</button>
            </div>
        </ul>
    </section>

    <script src="js/angular.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
</body>

</html>